Source: unity-scope-youtube
Section: x11
Priority: optional
Build-Depends: cmake (>= 2.8.10),
               debhelper (>= 9),
               dh-translations,
               google-mock,
               intltool,
               libaccounts-glib-dev,
               libboost1.55-dev,
               libboost-iostreams1.55-dev,
               libglib2.0-dev,
               libjsoncpp-dev,
               libnet-cpp-dev,
               libprocess-cpp-dev,
               libsignon-glib-dev,
               libunity-scopes-dev (>= 0.5.0),
               pkg-config,
               python-tornado,
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.5
Homepage: https://launchpad.net/unity-scope-youtube
Vcs-Bzr: lp:unity-scope-youtube

Package: unity-scope-youtube
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: youtube scope for Unity
 This youtube scope allows you to search youtube for videos and also browse
 your feed within the Unity Dash.
 .
 This package provides the youtube scope.

